/* 
    Filename   : index.css
    Created on : 22.10.2019, 10:44:29
    Author     : 1039977
*/

* {
    margin: 0;
    outline: none;
}


.content{
    margin-left: auto;
    margin-top: 100px;
    text-align: center;

}





.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}


p{
    overflow: hidden;
    overflow-wrap: break-word;
    text-align: center;
}

h1{
    padding-top: 75px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    Font-Size: 46px;

}

h3 {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    Font-Size: 16px;
}

h4 {
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    Font-Size: 16px;
}



/*** Karte ***/
#map { 
    width: 100%;
    z-index: -1;
    position: absolute;
    border-radius: 10px;
    top: 0; bottom: 0; right: 0; left: 0;

}


.box1 {
    width: 40%;
    height: 250px;
    background-color: white;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1%;
    margin-top: 10px;
    border-radius: 10px;
}

.box2 {
    width: 40%;
    height: 700px;
    background-color: white;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 1%;
    margin-top: 270px;
    border-radius: 10px;
    opacity: 80%;
}

.backgroundbox {
    background-color: gray;
    opacity: 10%;
    position: absolute;
    width: 42%;
    height: 100%;
}

/*** Tabelle ***/
table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    table-layout:fixed;
    width:100%;
}



tr:nth-child(even) {
    background: #d4d4d4;
}

th, td {

    padding: 10px 30px;
}

th {
    border-bottom: 1px solid #d4d4d4;
}

/*** Dropdownliste ***/
.dropbtn {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.dropdown {
    position: fixed;
    float: right;
    margin-right: 1%;
    margin-top: 10px;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: black;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opactiy: 50%;
    border-radius: 10px;

}


.dropdown-content a {
    border-radius: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
        opactiy: 50%;
    color: black;
}


.dropdown-content a:hover {
    background-color: #d1d1d1;
    opactiy: 50%;
    text-decoration: none;
                           
    color: black;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

/*** Legende ***/
#legende {
    height: 130px;
    width: 220px;
    position:absolute;
    bottom:0;
    right:0;
    z-index: 1;
    margin-bottom: 1.4%;
    margin-right: 3%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


