/* 
    Filename   : index.css
    Created on : 22.10.2019, 10:44:29
    Author     : 1039977
*/

* {
    margin: 0;
}

* {
  outline: none;
}

.content{
    margin-left: auto;
    margin-top: 100px;
    text-align: center;
    
}


body {

}

.container {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display: flex;
  font-size: 24px;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav {

}

main {

}

footer {

}
